.chatPage {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatContainer {
  background-color: white;
  height: 60%;
  width: 50%;
}

.header {
  background-color: crimson;
  height: 15%;
}

.chatBox {
  border: 00.2vmax solid black;
  height: 70%;
  box-sizing: border-box;
}

.inputBox {
  height: 15%;
  display: flex;
}

#chatInput {
  width: 80%;
  padding: 2vmax;
  box-sizing: border-box;
  background-color: white;
  border: none;
  outline: none;
  font-size: 1.5vmax;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sendBtn {
  background-color: crimson;
  color: white;
  border: none;
  width: 20%;
  transition: all 0.4s;
  cursor: pointer;
}

.sendBtn:hover {
  background-color: rgb(156, 13, 42);
}

.sendBtn > img {
  width: 2.6vmax;
  filter: brightness(100) invert();
  transition: all 0.5s;
}

.sendBtn:hover img {
  transform: translateX(10px);
}
